.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn-primary {
    border-radius: 50px;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
}

h2 {
    font-weight: 400;
}

.fas {
    margin-top: 5px;
    margin-left: 0px;
}

.btn-primary .fas {
    display: none;
}